<header class="site-head">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">
      <span class="logo">
        db
      </span>
      <span class="title">
        {{ site.title }}
      </span>
    </a>

    <nav class="nav nav--banner">
      <ul>
        {% for page in site.pages %}
          {% if page.title %}
          <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>

  </div>

</header>