/// <reference file="../../vars" />


.icon {
	font-family: 'DavidBeesley';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&--up:before {
		content: "\5e";
	}
}