.home{
	padding: 1em 0 4em 0;
}

.posts{
	list-style: none;
	margin: 0;
	padding: 0;

	h2{
		margin: 0;
	}

	a{
		color: $brand-color;
		text-decoration: none;

		&:hover{
			text-decoration: underline;
		}
	}
}