html {
	color: $base-color;
	font-family: $base-ff;
	letter-spacing: 0;
	overflow-y: scroll;
	position: relative;
}
	body {
		margin: 0 auto;
		max-width: $base-mw;
		width: 90%;
	}
		.post {
			margin: 0 0 2em 0;

			p {
				-webkit-column-break-inside: avoid;
				break-inside: avoid-column;
			}
			@include media-query(lap-and-up){
				column-count: 2;
				column-gap: 4em;
			}
		}

a {
	color: $brand-color;
	text-decoration:none;

	&:hover {
		text-decoration: underline;
	}
}

h1, h2, h3, h4, h5, h6 {
	color: $brand-color;
	font-family: $head-ff;
}

		.background {	
			background-image: url('/dist/img/background.jpg');
			background-position: center;
			background-size: cover;
			filter: blur(3px);
			height: 100%;
			left: 0;
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 0;
		}

		.site {
			position: relative;
			z-index: 2;
		}