html {
	color: $base-color;
	font-family: $base-ff;
	letter-spacing: 0;
	overflow-y: scroll;
	position: relative;
}
	body {
	}

a {
	color: $brand-color;
	text-decoration:none;

	&:hover {
		text-decoration: underline;
	}
}

h1, h2, h3, h4, h5, h6 {
	color: $brand-color;
	font-family: $head-ff;
}

		.background {	
			background-image: url('/img/background.jpg');
			background-position: center;
			background-size: cover;
			filter: blur(3px);
			height: 100%;
			left: 0;
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 0;
		}

		.site {
			position: relative;
			z-index: 2;
		}

			.container {
				margin: 0 auto;
				max-width: $base-mw;
				width: 90%;				
			}