<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
      <div class="site">
        {% include header.html %}
	      <div id="home">       		
			<h2>{{ page.title }}</h2>
			<p class="meta">{{ page.date | date_to_string }}</p>
			<div class="post">
			{{ content }}
			</div>
			<div class="meta">
				<p class="tags">Tagged in: {{ page.categories | join: ', ' }}</p>
				<p class="commment">Comment on <a href="http://twitter.com/?status=@davebeesley">Twitter</a></p>
			</div>
        </div>
        {% include footer.html %}
      </div>        
      <div class="background"></div>
    </body>
</html>